.navbar {
  background-color: #e5e7eb; /* light gray */
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 4rem;
  display: inline-block;
  vertical-align: middle;
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}
